a {
    text-decoration: none;
}
  
.et-hero-tabs,
.et-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 4.5em;
      position: relative;
      background: #323232;
      text-align: center;
      padding: 0 2em;
      width: calc(100% - 4em);
}
  
.et-hero-tabs-container {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      background: #323232;
      z-index: 10;
}
  
.et-hero-tab {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      color: #fff;
      letter-spacing: 0.1rem;
      transition: all 0.5s ease;
      font-size: 0.8rem;
      cursor: pointer;
}

.et-hero-tab:hover{
    color:white;
    background: rgba(190, 17, 17, 0.8);
    transition: all 0.5s ease;
}
  
.et-hero-tab-slider {
      position: absolute;
      bottom: 0;
      width: 20%;
      height: 6px;
      border-radius: 70px;
      background: linear-gradient(45deg, #D21312, #ED2B2A);
      left: 0;
      transition: transform .5s ease, height .2s ease;
}

@media (max-width: 600px){
      .et-hero-tabs{
            transition: .3s;
            opacity: 0;
            position: absolute;
            top: 180px;
            width: 100%;
            padding: 0;
            transform: translateY(120px);
            z-index: 9999;
      }

      .et-hero-tabs.active{
            display: block;
            opacity: 1;
      }

      .et-hero-tabs.active .et-hero-tab{
            display: block;
      }

      .et-hero-tabs .et-hero-tab{
            display: none;
      }

      .et-hero-tabs-container{
            display: flex;
            height: auto;
            flex-direction: column;
            background-color: var(--cor-de-fundo);
            border-bottom: 1px solid var(--cor-divisoria);
            border-top: 1px solid var(--cor-divisoria);
      }

      .et-hero-tab{
            padding: 10px 0;
            font-size: 18px;
            font-family: var(--fonte-principal);
            letter-spacing: 0;
      }

      .et-hero-tab-slider{
            display: none;
      }
}